
body {
    background-image: url(cp2.jpg);
   height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    /* background-color: #333; */
    color: #fff;
    text-align: center;
    padding: 2px;
    font-size: x-large;
   
}
  .box {
    border-radius: 5px;
    margin: auto;
    width: 1200px;
    height: 600px;
    overflow: scroll;
    
    background:rgb(9, 3, 44);
    /* opacity: 20%; */
  }


   main {
    padding: 20px;
    
}

.events {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px; 

}

.events h2 {
    color: #f2ecec;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40%;
   

}

.events img {
    
    border-radius: 10px;
    max-width: 18%;
    max-height:18%;
    /* vertical-align: middle; */
    /* padding-top: -10px; */

     
   
  }
  
.events p {
    
    margin-left: 220px;
    /* margin-top: -px; */
    /* padding-top: -10px; */
    /* padding-inline-start: 5px; */
    /* margin: 5px 0; */
    /* margin-top: -20px; */
    float: right;
    color: #f2ecec;
    margin-block: -170px;
    font-size: large;
   
   
    /* display: inline-block; 
    justify-content: left; */
    
    /* align-items:flex-start; */
} 
.button input[type="button"]{
    color: #fff;
    font-size: 14px;
    outline: none;
    border: none;
    margin-left: 500px;
    margin-block-start: -200px;
    padding: 6px 8px;
    border-radius: 6px; 
    background: #efeff2;
    margin-top: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    
  }
  .button input[type="button"]:hover{
    background: #535252;
  }

/* main {
    padding: 20px;
}

.event {
    display: flex;
    margin-bottom: 30px;
}

.event-thumbnail {
    flex: 0 0 200px;
}

.event-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.event-details {
    flex: 1;
    padding: 10px;
}

.event h2 {
    font-size: 24px;
    margin: 0 0 10px;
}

.event-date {
    font-style: italic;
    color: #888;
    margin: 0;
}

.event-description {
    margin: 10px 0;
} */
